params {
  config_profile_description = 'Johns Hopkins University SLURM cluster profile'
  config_profile_contact = 'Kendall Reid'
  config_profile_url = ''
}
 
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/home/kreid20/"
}
 
process {
  executor = 'slurm'
 
  queue = 'express'
  queueSize = 16
 
//  submitRateLimit = '20/2min'
//  submitRateLimit = '1min'
  maxSubmitJobs = 20
 
  errorStrategy = 'retry'
  maxRetries = 5
  retry.delay = '1min'
 
  time = '1.d'
  cpus = 8
  memory = '20 GB'
 
  clusterOptions = '--job-name=nfSLURM \
	--output=/home/kreid20/test.txt \
	--error=/home/kreid20/test_log-error.txt'
}
 
params {
  max_memory = 50.GB
  max_cpus = 32
  max_time = 3.d
}
