params {
  config_profile_description = 'ARCH - Rockfish SLURM cluster profile'
  config_profile_contact = 'Kendall Reid'
  config_profile_url = ''
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/home/kreid20/.singularity/cache"
}

process {
  executor = 'slurm'
  queue = 'shared'
  queueSize = 8

  submitRateLimit = '20/2min'

  errorStrategy = 'retry'
  maxRetries = 5
  retry.delay = '1min'

  time = '4hours'
  cpus = 8
  memory = '31 GB'

  clusterOptions = '--job-name=nfSLURM \
	--output=/home/kreid20/scr_4/simulations/nextflow/outputs/2024-14-11_output.txt \
	--error=/home/kreid20/scr_4/simulations/nextflow/outputs/2024-14-11_log-error.txt'
}

params {
  max_memory = '39 GB'
  max_cpus = 10
  max_time = '36hours'
}
